{% block body %}
<a class="{{ isIncludedInDropdown|default(false) ? 'dropdown-item' }} {{ action.cssClass }}"
       href="{{ action.linkUrl }}"
    {% for name, value in action.htmlAttributes %}{{ name }}="{{ value|e('html_attr') }}" {% endfor %}>
    {%- if action.icon %}<i class="action-icon {{ action.icon }}"></i> {% endif -%}
    {%- if action.label is not empty -%}{{ action.label }}{%- endif -%}
</a>
<form method="post" id="delete-form" style="display: none">
    <input type="hidden" name="token" value="{{ csrf_token('ea-delete') }}" />
</form>

<div id="modal-delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="text-align:center">
                <h4>Souhaitez-vous réellement supprimer cet élément</h4>
                <p>Cette action est irréversible et ne pourra être annulée</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-secondary">
                    <span class="btn-label">Annuler</span>
                </button>

                <button type="button" data-dismiss="modal" class="btn btn-danger" id="modal-delete-button" form="delete-form">
                    <span class="btn-label">Supprimer</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}