{% extends 'admin_base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>EventTypeParticipationType</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ event_type_participation_type.id }}</td>
                </tr>
                <tr>
                    <th>ParticipationClass</th>
                    <td>{{ event_type_participation_type.participationClass }}</td>
                </tr>
                <tr>
                    <th>EventType</th>
                    <td>{{ event_type_participation_type.eventType }}</td>
                </tr>
                <tr>
                    <th>organizationType</th>
                    <td>{{ event_type_participation_type.organizationType }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('event_type_participation_type_index') }}">back to list</a>

        <a href="{{ path('event_type_participation_type_edit', {'id': event_type_participation_type.id}) }}">edit</a>

        {{ include('event_type_participation_type/_delete_form.html.twig') }}
    </div>
{% endblock %}