<p>
	<strong>{{datas.from}} {{event.getTypeCityAndDate()}} </strong><br>
</p>
<p>
	<strong>De :</strong> {{datas.firstName}} {{datas.name|upper}} <br>
	<strong>Téléphone :</strong> {{datas.phone}} <br>
	<a href="mailto={{datas.email[0]}}">{{datas.email[0]}} </a>
</p>
<p> <strong>Message :</strong></p>
<p> {{datas.message}} </p>
