<p>Bonjour {{user.firstName}} {{user.lastName}}</p>

{% if user.getType == 'Candidat' %}
	<p>Félicitation, votre compte a été créé pour assister aux salons {{event.getFullType}} ! </p>
	<p>Voici vos identifiants pour accèder à votre compte candidat depuis l'adresse suivante : <a href="{{ url('candidate_user_profile') }}">{{ url('candidate_user_profile') }}</a></p>
{% else %}
	<p>Voici vos identifiants pour accèder au back office des événements L4M à l'adresse suivante : <a href="https://24h-emploi.com/admin">https://24h-emploi.com/admin</a></p>
{% endif %}
<ul>
	<li> Nom d'utilisateur : {{user.username}}</li>
	<li> Mot de passe : {{password}}</li>
	<li> Email : {{user.email}}</li>
</ul>

<p> Cordialement,</p>

{% include 'emails/signature.html.twig' with {'team' : true } %}