<h3>Hello la com'</h3>
<p>Voici le nouveau mot de passe de {{user.firstName}} {{user.lastname}}<br>

<ul>
	<li> Nom d'utilisateur : <strong>{{user.username}}</strong></li>
	<li> Mot de passe : <strong>{{password}}</strong></li>
	<li> Email : <strong>{{user.email}}</strong></li>
</ul>

<p> Bisous,</p>

<p>Pierre</p>
{# Makes an absolute URL to the file #}
<img src="{{ absolute_url(asset('images/image01.jpg')) }}">
