<p>Bonjour,</p>

<p>Les inscriptions au salon {{event.type.fullName}} à {{event.place.city}} le {{event.date|localizeddate('full', 'none', 'fr', "Europe/Paris", 'EEEE d MMMM YYYY')|capitalize}} sont désormais ouvertes.</p>
<p>Nous vous invitons à vous inscrire dès aujourd’hui sur le site <a href="{{host}}/{{event.slug}}"> {{host}}/{{event.slug}}</a></p>
<p>Pour rappel, l’inscription est obligatoire pour participer à cet événement.</p>

<p>Excellente journée,</p>
<p>Cordialement,
